<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788124595860-npp762pk9tr09hg4j8ajdqoqou95ecun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788124595860-npp762pk9tr09hg4j8ajdqoqou95ecun</string>
	<key>API_KEY</key>
	<string>AIzaSyBESA49lKVgl-0_6iLWZvvJ_09uLKS_E34</string>
	<key>GCM_SENDER_ID</key>
	<string>788124595860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pixmania</string>
	<key>PROJECT_ID</key>
	<string>pixmania-182c7</string>
	<key>STORAGE_BUCKET</key>
	<string>pixmania-182c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788124595860:ios:cccd4da51c4b63311de681</string>
</dict>
</plist>